.portfolio-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--light-bg-color);
  display: flex;
  align-items: flex-end;
  padding: 0 0 0.5rem 0;
}

.portfolio-section .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  /* margin-top: 5rem; */
}

.image-gallery {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 45%;
}

.main-image {
  position: relative;
  width: 100%;
  height: min(70vh, 40.625rem);
  overflow: hidden;
}

.main-image img {
  /* object-position: center 0; */
  position: absolute;
  height: 100%;
  inset: 0;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.image-loading-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: var(--large-text);
  font-style: italic;
  animation: loadingTextAnim 1.5s infinite alternate;
}

@keyframes loadingTextAnim {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.images-thumbnail-container {
  display: flex;
  gap: 0.2rem;
  width: 100%;
}

.image-thumbnail {
  width: 100%;
  height: min(15vh, 9.375rem);
}

.image-thumbnail-btn {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: 3px solid var(--light-bg-color);
}

.image-thumbnail-btn img {
  transition: transform 300ms;
  pointer-events: none;
}

.image-thumbnail-btn:hover img {
  transform: scale(1.1);
}

.image-thumbnail-btn:focus-visible {
  border-color: var(--sec-color);
}

.image-thumbnail-btn.selected {
  border-color: var(--sec-color);
}

.image-thumbnail-btn.selected img {
  transform: scale(1.1);
}

.image-tags {
  position: relative;
  width: 30%;
  justify-items: flex-end;
  overflow: hidden;
}

.tag-btn-wrapper {
  width: 100%;
}

.tag-btn-container {
  width: 100%;
  text-align: right;
  padding: 1rem 0;
  border-top: 0.125rem solid var(--light-bg-color);
  border-bottom: 0.125rem solid var(--light-bg-color);
  transition: border 300ms ease-in;
  overflow: hidden;
}

.tag-btn-container:has(> .tag-btn.selected) {
  border-color: var(--dark);
}

.tag-btn {
  color: var(--light-text-color);
  font: var(--heading-four);
  transition: color 300ms ease-in;
}

.tag-btn.selected {
  color: var(--text-color);
}

.tag-btn:hover {
  color: var(--text-color);
}

.tag-btn:focus-visible {
  color: var(--text-color);
  outline: 0.125rem solid var(--sec-color);
}

@media screen and (max-width: 768px) {
  .portfolio-section {
    align-items: center;
    padding: 0 0 1.5rem 0;
  }

  .portfolio-section .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 1.75rem;
  }

  .image-gallery {
    gap: 0.5rem;
    width: 70%;
  }

  .main-image {
    height: min(60vh, 34rem);
  }

  .image-thumbnail {
    height: min(10vh, 7rem);
  }

  .image-tags {
    position: relative;
    width: 100%;
    justify-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 0 0.75rem 0;
  }

  .tag-btn-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-items: center;
    padding: 0 0 0 2.5rem;
  }

  .image-tags::-webkit-scrollbar {
    height: 0;
  }

  .action-btn-container {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
    z-index: 2;
    pointer-events: none;
  }

  .action-btn {
    color: var(--text-color);
    font: var(--large-text);
    font-weight: 600;
    font-size: 2rem;
    background: var(--light-bg-color);
    padding: 0.5rem;
    pointer-events: all;
    transition: color 300ms ease-in;
  }

  .action-btn:hover {
    color: var(--text-color);
  }

  .tag-btn-container {
    flex-shrink: 0;
    width: fit-content;
    padding: 0.5rem 1rem;
    text-align: center;
    border-top: 0;
    border-bottom: 0;
    border-left: 0.125rem solid var(--light-bg-color);
    border-right: 0.125rem solid var(--light-bg-color);
    /* overflow: hidden; */
  }

  .tag-btn {
    font: var(--large-text);
    font-size: 1rem;
    white-space: nowrap;
  }

  .tag-btn:hover {
    color: var(--light-text-color);
  }
}

@media screen and (max-width: 468px) {
  .image-gallery {
    width: 90%;
  }
}
